.container {
  max-width: 1440px;
}
.titleMarker {
  display: inline-block;
  width: 8px;
  height: 47px;
  background-color: #FFCD83;
  margin-right: 16px;
  margin-left: -24px;
  vertical-align: top;
  border-radius: 2px;
}

.features > h3{
  font-size: 36px;
  color: var(--ifm-landing-page-font-color);
  margin-bottom: 16px;
}

.features p{
  font-size: 20px;
}

.plansTitle > h3 {
  font-size: 38px;
  font-weight: 600;
  color: var(--ifm-landing-page-font-color);
  margin-bottom: 0px;
  text-align: center;
}

.planCard {
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #D9D9D9;
  border-radius: 4;
}


.planHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-size: 24px;
}

.price {
  color: #4E61A5;
}

.planCopy {
  min-height: 160px;
  margin-bottom: 12px;
  font-size: 16px;
}

.featureList {
  margin-bottom: 32px;
}

.featureList > ul {
  padding: 0;
  padding-left: 6px;
}

.planFeature {
  font-size: 16px;
  color: #595959;
  list-style-type: none;
  padding-left: 32px;
  margin-top: auto;
}

.planFeature:before {
  content: '';
  float: left;
  display: list-item;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color:  #4E61A5;
  margin-left: -26px;
  margin-top: 8px;
}

.businessCard .planFeature:first-of-type,
.enterpriseCard .planFeature:first-of-type {
  font-weight: 700;
}

.planFeatureMarker {
  margin-right: 4px;
  color: #4E61A5;
}

.faq {
  margin-bottom: 48px;
}

.faq > h3{
  font-size: 36px;
  color: var(--ifm-landing-page-font-color);
  margin-bottom: 16px;
}

.panelTitle {
  font-size: 20px;
}

.panel {
  background: #ffffff;
  font-size: 20px;
  color: var(---ifm-font-color-base);
}

@media screen and (max-width: 996px) {
  

  .row {
    flex-direction: column-reverse;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;
  }

  .row:before {
    content: "";
    display: block;
    border-bottom: 1px solid #FFCD83;
    margin: 56px 0;
    width: 100%;
  }

  .row:last-of-type {
    margin-bottom: 56px;
  }

  .row:last-of-type:before {
    display: none;
  }

  .features h3, .faq h3{
    font-size: 24px;
  }
}
