.container {
  width: 100%;
  max-width: 320px;
  margin: 40px auto;
  justify-content: center;
  height: auto
}

.container,.mainContent {
  display: flex;
  flex-direction: column
}

.mainContent {
  align-items: flex-start;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  max-width: 320px;
  filter: drop-shadow(0 4px 12px rgba(0,0,0,.15));
  padding: 32px
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%
}
