
/* Animations */
.svg {
  margin: 0 auto;
  display: block;
  max-width: 299px;
}

.svg .svgElem1 {
  stroke-dashoffset: 260.4415283203125px;
  stroke-dasharray: 260.4415283203125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0s;
}

.svg.active .svgElem1 {
  stroke-dashoffset: 0;
  fill: var(--ifm-landing-page-font-color);
}

.svg .svgElem2 {
  stroke-dashoffset: 264.1730041503906px;
  stroke-dasharray: 264.1730041503906px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.1s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.1s;
}

.svg.active .svgElem2 {
  stroke-dashoffset: 0;
  fill: var(--ifm-landing-page-font-color);
}

.svg .svgElem3 {
  stroke-dashoffset: 260.44073486328125px;
  stroke-dasharray: 260.44073486328125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.2s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.2s;
}

.svg.active .svgElem3 {
  stroke-dashoffset: 0;
  fill: var(--ifm-landing-page-font-color);
}

.svg .svgElem4 {
  stroke-dashoffset: 256.7415771484375px;
  stroke-dasharray: 256.7415771484375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.30000000000000004s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.30000000000000004s;
}

.svg.active .svgElem4 {
  stroke-dashoffset: 0;
  fill: var(--ifm-landing-page-font-color);
}

.svg .svgElem5 {
  stroke-dashoffset: 256.74085998535156px;
  stroke-dasharray: 256.74085998535156px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.4s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.4s;
}

.svg.active .svgElem5 {
  stroke-dashoffset: 0;
  fill: var(--ifm-landing-page-font-color);
}

.svg .svgElem6 {
  stroke-dashoffset: 481.0653381347656px;
  stroke-dasharray: 481.0653381347656px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.5s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.5s;
}

.svg.active .svgElem6 {
  stroke-dashoffset: 0;
  fill: var(--ifm-landing-page-font-color);
}

.svg .svgElem7 {
  stroke-dashoffset: 237.799072265625px;
  stroke-dasharray: 237.799072265625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.6000000000000001s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.6000000000000001s;
}

.svg.active .svgElem7 {
  stroke-dashoffset: 0;
  fill: rgb(255, 205, 131);
}

.svg .svgElem8 {
  stroke-dashoffset: 237.7998046875px;
  stroke-dasharray: 237.7998046875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.7000000000000001s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.7000000000000001s;
}

.svg.active .svgElem8 {
  stroke-dashoffset: 0;
  fill: rgb(255, 205, 131);
}

.svg .svgElem9 {
  stroke-dashoffset: 102.0047378540039px;
  stroke-dasharray: 102.0047378540039px;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.8s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.8s;
}

.svg.active .svgElem9 {
  stroke-dashoffset: 0;
}

.svg .svgElem10 {
  stroke-dashoffset: 71.35564422607422px;
  stroke-dasharray: 71.35564422607422px;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.9s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 0.9s;
}

.svg.active .svgElem10 {
  stroke-dashoffset: 0;
}

.svg .svgElem11 {
  stroke-dashoffset: 89.9243392944336px;
  stroke-dasharray: 89.9243392944336px;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 1s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 1s;
}

.svg.active .svgElem11 {
  stroke-dashoffset: 0;
}

.svg .svgElem12 {
  stroke-dashoffset: 70.47785186767578px;
  stroke-dasharray: 70.47785186767578px;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 1.1s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 1.1s;
}

.svg.active .svgElem12 {
  stroke-dashoffset: 0;
}

.svg .svgElem13 {
  stroke-dashoffset: 89.9234390258789px;
  stroke-dasharray: 89.9234390258789px;
  -webkit-transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 1.2000000000000002s;
          transition: stroke-dashoffset 1.5s ease-out 1.5s, fill 1s ease 1.2000000000000002s;
}

.svg.active .svgElem13 {
  stroke-dashoffset: 0;
}